{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}">
{% include "sudoku/header.html" %}

<h1>Sudoku board 9x9</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if sudoku_grid %}
<form action="{% url 'sudoku:save' dim_field dim_house sudoku_state %}" method="post">
    {% csrf_token %}
    {% include "sudoku/sudoku_board.html" %}
<input type="submit" value="Save">
</form>
{% else %}
    <p>No sudoku generated.</p>
{% endif %}