{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}">
{% include "sudoku/header.html" %}
{% if latest_sudoku_list %}
    <ul>
    {% for sudoku in latest_sudoku_list %}
        <li>
            <a href="{% url 'sudoku:saved' sudoku.id %}">Saved sudoku №{{ sudoku.id }}</a>
            {{ sudoku.grid }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No saved sudokus are available.</p>
{% endif %}
<h1>Generate new sudoku (click the number of given cells)</h1>
{% for row in ngiven %}
    <p>
    {% for n in row %}
        <a href="{% url 'sudoku:byngiven' n %}">{{ n }}</a>
    {% endfor %}
    </p>
{% endfor %}